header {
    height: 80px;
    padding: 20px;
    box-sizing: border-box;
    background-color: darkblue;
    color: white;
    display: flex;

    mat-icon {
        font-size: 32px;
        width: 40px;
        margin-right: 6px;
        line-height: 40px;
        height: 40px;
        color: lightblue;
    }

    span {
        font-size: 32px;
        font-weight: bold;
        line-height: 40px;

        &.spacer {
            flex: 1 1 auto;
        }
    }


    a {
        color: white;
        line-height: 40px;
        text-decoration: none;
        margin-left: 8px;
    }

}

.spacer {
    flex: 1 1 auto;
}
