<mat-toolbar>

    <a matButton>
        <mat-icon fontIcon="settings"></mat-icon>
        My App</a>

    <span class="spacer"></span>


    @if (isLoggedIn()) {
        <button matButton (click)="logout()">Log out</button>
    } @else {
        <a matButton [routerLink]="loginPage">Log in</a>
    }

    <button matIconButton [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        @for (item of links; track $index) {
        <a mat-menu-item routerLink="{{item.href}}">{{item.label}}</a>
        <!-- <button mat-menu-item routerLink="{{item.href}}">{{item.label}}</button> -->
        }
    </mat-menu>

</mat-toolbar>