#form-container {
    margin: 40px auto 20px;
    max-width: 600px;

    form {
        width: 100%;

        > div {
            width: 100%;
            margin-bottom: 10px;

            input, textarea {
                width: 100%;
                height: 20px;
            }

            textarea {
                height: 100px;
            }
        }
    }
}

span.error {
    color: red;
}

input.error, textarea.error {
    border-color: red;
    background-color: lightpink;

}
